w3h1 {
    color: rgb(209, 18, 18);
    text-align: center;
    text-decoration: solid;
}
nav {
     background-color: #444;
     display: flex;
     justify-content:center;
     gap:25px;
     padding:20px;
    flex-wrap:wrap;
}
.project-cointainer{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}
.project-cards{
    background-color:#f9f9f9;
    border:1px solid #ddd;
    border-radius:8px;
    padding:15px;
    width:250px;
    flex-grow:1;
    box-shadow:0px 2px 5px rgba(0,0,0,0.1);
}
.project-card h3{
    margin-top:0px;
    color:#222;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow-x:auto;
}

table td {
  border: 1px solid ;
  text-align: left;
  padding: 8px;
}

table th {
    border:1px solid ;
    text-align: left ;
    padding: 8px
}

table tr:nth-child(even) {
  background-color:solid black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-style: normal;
}

footer {
    margin-top: 30px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

}




