w3h1 {
    color: rgb(209, 18, 18);
    text-align: center;
    text-decoration: solid;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td {
  border: 1px solid ;
  text-align: left;
  padding: 8px;
}

table th {
    border:1px solid ;
    text-align: left ;
    padding: 8px
}

table tr:nth-child(even) {
  background-color:solid black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-style: normal;
}

footer {
    margin-top: 30px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

}

